<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3>Administrar mis viajes </h3>

    <div class="center list-group"><strong><a class="pull-left l do" href="#!/trip/new">Agendar nuevo viaje</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">      Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="trip in trips" ng-show="show">
        <li><div>Fecha de inicio: {{trip.startingDate}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/trip/edit/{{trip.id}}">Editar</a></li>
            <li><a ng-href="#!/trip/deleted/{{trip.id}}">Eliminar</a></li>
            <li><a ng-href="#!/trip/detail/{{trip.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="trip in trips" ng-show="show">
        <li>Fecha de inicio: {{trip.startingDate}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/trip/edit/{{trip.id}}">Editar</a></li>
        <li><a ng-href="#!/trip/deleted/{{trip.id}}">Eliminar</a></li>
        <li><a ng-href="#!/trip/detail/{{trip.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
</div></div>
</div>