<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>¿Seguro que desea eliminar este viaje?</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class=" text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="perc colt">
            <p>Fecha de inicio</p>
        </td>
        <td class="perc colt">
            <p>Fecha de termino</p>
        </td>
        <td class="perc colt">
            <p>Hora de inicio</p>
        </td>
        <td class="perc colt">
            <p>Hora de termino</p>
        </td>
        <td class="perc colt">
            <p>Pasajeros</p>
        </td>
        <td class="perc colt">
            <p>Destinos</p>
        </td>
        <td class="colt" >
            <p>Líder del grupo</p>
        </td>
    </tr>
    <tr class="col">
        <td class="perc colt">
            <p>{{trip.startingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{trip.finishingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{trip.startingTime}}</p>
        </td>
        <td class="perc colt">
            <p>{{trip.finishingTime}}</p>
        </td>
        <td class="perc colt">
            <p>{{trip.passengers}}</p>
        </td>
        <td class="perc colt" >
            <p>{{trip.destinations}}</p>
        </td>
        <td class="colt">
            <p>{{trip.groupLeader}}</p>
        </td>
    </tr>


</table><br/><br/><br/>
    <table align="center" width="90%">
        <tr class="r">

        <td class="perc colt">
            <p>Departamento</p>
        </td>
        <td class="perc colt">
            Descargar documento en pdf
        </td>
        <td class="perc colt" >
            <p>Lugar de salida</p>
        </td>
        <td class="perc colt" >
            <p>Permiso de la subdirección</p>
        </td>
        <td class="colt" colspan="3">
            Motivos
        </td>
    </tr>
    <tr class="col">

        <td class="perc colt">
            <p>{{department}}</p>
        </td>
        <td class="perc colt">
            <p><a ng-href="#!/document/{{trip.id}}">Documento</a></p>
        </td>
        <td class="perc colt" >
            <p>{{trip.departurePlace}}</p>
        </td>
        <td class="perc colt" >
            <p>{{trip.submanagementPermission}}</p>
        </td>
        <td class="colt"colspan="3">
            {{trip.reasons}}
        </td>
    </tr>

    </table>
    <br/>
    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" ng-click="del()">
                                <span>ACEPTAR</span>
                            </button>
                        </div>
    </div>
</div>