
<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Descargando</h3></li>
    </ul>
</div>
<div class="center-block col-md-12 text-center">
        <h3><strong><a class="l" href="#!/home">INICIO</a></strong></h3>
</div>