<div class ="center" ng-include="'portions/new.html'">
            </div>
<div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
    <div class="col-md-12 margin-form">
        <div class="col-md-12">
             <div class="form-register" ng-controller="NewTripController">
                <form name="registerForm" ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha de inicio</label>
                            <input type="text" class="form-control" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" placeholder="Fecha de inicio del viaje"  required ng-model="formData.startingDate">
                        </div>
                        <div class="form-group">
                            <label>Fecha de termino</label>
                            <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" data-date-type="string" required placeholder="Fecha de terminación del viaje" ng-model="formData.finishingDate">
                        </div>
                        <div class="form-group">
                            <label>Hora en que inicia el viaje</label>
                            <input type="text" class="form-control"  required placeholder="Hora en que inicia el viaje" ng-model="formData.startingTime">
                        </div>
                        <div class="form-group">
                            <label>Hora en que termina el viaje</label>
                            <input type="text" class="form-control" required placeholder="Hora aproximada en que termina" ng-model="formData.finishingTime">
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pasajeros</label>
                            <input type="text" class="form-control" required placeholder="Cantidad de pasajeros" ng-model="formData.passengers">
                        </div>
                        <div class="form-group">
                            <label>Destinos</label>
                            <input type="text" class="form-control" required placeholder="Ciudades a visitar" ng-model="formData.destinations">
                        </div>
                        <div class="form-group">
                            <label>Lider del grupo</label>
                            <input type="text" class="form-control" placeholder="Responsable del grupo" ng-model="formData.groupLeader" required>
                        </div>

                        <div class="form-group">
                            <label>Lugar de salida</label>
                            <input type="text" class="form-control" placeholder="Lugar de donde comienza el viaje" ng-model="formData.departurePlace"required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Motivos</label>
                            <textarea class="form-control" required placeholder="Para qué se realiza el viaje, a quienes se traslada, etc." ng-model="formData.reasons"></textarea>
                          </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>