<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
<div>
    <h3>Administre los viajes, los choferes, vehículos sus pólizas y mantenimientos</h3>
    <br/><br/>
        <div class="col-xs-10 padi list-group"><ul id="nav" class="center">
            <li id="notification_li"><div class="center"><strong class="pull-left" ng-show="auth">Bienvenido: {{user}}
            <a href="#!/logout">Cerrar sesión</a></strong></div>
                <span id="notification_count">{{not}}</span><a ng-click="hide()" id="notificationLink">Notificaciones</a>
<div id="notificationContainer"><div id="notificationsBody" class="notifications"
    ng-show="notified" ng-repeat="notification in notifications">{{notification.description}}
<a ng-show="notification.vehicle" ng-href="#!/vehicle/detail/{{notification.vehicle}}"> Vehículo</a>
<a ng-show="notification.maintenance" ng-href="#!/maintenance/detail/{{notification.maintenance}}"> Mantenimiento</a>
<a ng-show ="notification.policy" ng-href="#!/policy/detail/{{notification.policy}}">Póliza</a>
    <a ng-show ="notification.trip" ng-href="#!/trip/detail/{{notification.trip}}">Viaje</a></div></div>
    </li></ul>
    </div>
</div></br></br>
    <ul class="lis visible-lg visible-md visible-sm" ng-show="show">
        <li><div> <strong class="pull-left"><ul class="nav navbar-nav">
            <li><a ng-href="#!/vehicles">Vehículos</a></li>
            <li><a ng-href="#!/policies">Pólizas</a></li>
            <li><a ng-href="#!/drivertrips">Viajes del chofer</a></li>
            <li><a ng-href="#!/maintenances">Mantenimientos</a></li>
        <li><a href="#!/trips">Viajes del departamento</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="lis visible-xs" ng-show="show">
        <li><ul class="nav navbar-nav" >
            <li><a ng-href="#!/vehicles">Vehículos</a></li>
            <li><a ng-href="#!/policies">Pólizas</a></li>
            <li><a ng-href="#!/drivertrips">Viajes del chofer</a></li>
            <li><a ng-href="#!/maintenances">Mantenimientos</a></li></ul></li>
            <li><a href="#!/trips">Viajes del departamento</a></li>
    </ul>
</div></div></div>