<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3>Administrar vehículos </h3>

    <div class="center list-group"><strong><a class="pull-left l do" href="#!/vehicle/new">Crear nuevo vehículo</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">      Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="vehicle in vehicles">
        <li><div>Nombre: {{vehicle.name}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/vehicle/edit/{{vehicle.id}}">Editar</a></li>
            <li><a ng-href="#!/vehicle/deleted/{{vehicle.id}}">Eliminar</a></li>
            <li><a ng-href="#!/vehicle/detail/{{vehicle.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="vehicle in vehicles">
        <li>Nombre: {{vehicle.name}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/vehicle/edit/{{vehicle.id}}">Editar</a></li>
        <li><a ng-href="#!/vehicle/deleted/{{vehicle.id}}">Eliminar</a></li>
        <li><a ng-href="#!/vehicle/detail/{{vehicle.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
    </div></div></div>