<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">
            </div>
            <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register" ng-controller="NewVehicleController">
                <form name="registerForm" ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre del vehículo" ng-model="formData.name" required>
                        </div>
                        <div class="form-group">
                            <label for="trademark">Marca</label>
                            <input type="text" class="form-control" id="trademark" placeholder="Marca del vehículo" ng-model="formData.trademark" required>
                        </div>
                        <div class="form-group">
                            <label for="model">Modelo</label>
                            <input type="text" class="form-control" id="model" placeholder="Modelo del vehículo" ng-model="formData.model" required>
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" id="color" placeholder="color del vehículo" ng-model="formData.color" required>
                        </div>
                        <div class="form-group">
                            <label for="licensePlates">Placas</label>
                            <input type="text" class="form-control" id="licensePlates" placeholder="Placas del vehículo" ng-model="formData.licensePlates" required>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classType">Tipo</label>
                            <input type="text" class="form-control" id="classType" placeholder="(camioneta, autobús, combi, etc.)" ng-model="formData.classType" required>
                        </div>
                        <div class="form-group">
                            <label for="serieNumber">Número de serie</label>
                            <input type="text" class="form-control" id="serieNumber" placeholder="No. de serie del vehículo" ng-model="formData.serieNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="engineNumber">Número de motor</label>
                            <input type="text" class="form-control" id="engineNumber" placeholder="Número de motor del vehículo" ng-model="formData.engineNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="capability">Capacidad</label>
                            <input type="text" class="form-control" id="capability" placeholder="Cantidad de pasajeros que puede trasladar" ng-model="formData.capability" required>
                        </div>
                        <div class="form-group">
                            <label for="cilinderCapability">Cilindraje</label>
                            <input type="text" class="form-control" id="cilinderCapability" placeholder="Cantidad de cilindros del vehículo" ng-model="formData.cylinderCapacity" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>