
<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Detalles del vehículo</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class=" text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="percq colt">
            <p>Nombre</p>
        </td>
        <td class="percq colt">
            <p>Marca</p>
        </td>
        <td class="percq colt">
            <p>Modelo</p>
        </td>
        <td class="percq colt">
            <p>Color</p>
        </td>
        <td class="percq colt">
            <p>Placas</p>
        </td>
    </tr>
    <tr class="col">
        <td class="percq colt">
            <p>{{vehicle.name}}</p>
        </td>
        <td class="percq colt">
            <p>{{vehicle.trademark}}</p>
        </td>
        <td class="percq colt">
            <p>{{vehicle.model}}</p>
        </td>
        <td class="percq colt">
            <p>{{vehicle.color}}</p>
        </td>
        <td class="percq colt">
            <p>{{vehicle.licensePlates}}</p>
        </td>

    </tr>


</table><br/><br/><br/>
    <table align="center" width="90%">
        <tr class="r">
        <td class="percq colt">
            <p>Tipo</p>
        </td>
        <td class="percq colt">
            <p>Número de serie</p>
        </td>
        <td class="percq colt">
            <p>Número de motor</p>
        </td>
        <td class="percq colt" >
            <p>Capacidad</p>
        </td>
        <td class="percq colt" >
            <p>Cilindraje</p>
        </td>
    </tr>
    <tr class="col">

        <td class="percq colt">
            <p>{{vehicle.classType}}</p>
        </td>
        <td class="percq colt" >
            <p>{{vehicle.serieNumber}}</p>
        </td>
        <td class="percq colt" >
            <p>{{vehicle.engineNumber}}</p>
        </td>
        <td class="percq colt">
            {{vehicle.capability}}
        </td>
        <td class="percq colt">
            <p>{{vehicle.cylinderCapacity}}</p>
        </td>
    </tr>

    </table>
</div>
