<div class="center-block w-x w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3 class="list-group">Asignar chofer y vehículo a los viajes autorizados</h3>

    <div class="center list-group"><strong><a class="pull-left l pa" href="#!/drivertrip/new">Asignar chofer y vehículo</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">      Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div>
    <br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="drivertrip in drivertrips">
        <li><div>Costo: {{drivertrip.tripExpenses | currency}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/drivertrip/deleted/{{drivertrip.id}}">Eliminar</a></li>
            <li><a ng-href="#!/drivertrip/detail/{{drivertrip.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="drivertrip in drivertrips">
        <li>Costo: {{drivertrip.tripExpenses | currency}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/drivertrip/deleted/{{drivertrip.id}}">Eliminar</a></li>
        <li><a ng-href="#!/drivertrip/detail/{{drivertrip.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
    </div></div></div>