<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">

            </div>
            <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register" ng-controller="NewDriverTripController">
                <form name="registerForm" ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tripExpenses">Gastos del viaje</label>
                            <input type="text" class="form-control" id="tripExpenses" placeholder="Cantidad en Pesos" ng-model="formData.tripExpenses" required>
                        </div>
                        <div class="form-group" ng-controller="TripsAllowController" >
                            <label>Viaje</label>
                            <select class="form-control" ng-options="trip.id as trip.reasons for trip in trips" ng-model="formData.trip" required>
                                <option></option>
                            </select>
                        </div>

                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <strong><a class="l"ng-click="driver()">Choferes disponibles</a></strong>
                            <select class="form-control" ng-options="driver.id as driver.fullName for driver in drivers" ng-model="formData.driver" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <strong><a class="l"ng-click="veh()">Vehículos disponibles</a></strong>
                            <select class="form-control" ng-options="vehicle.id as vehicle.name for vehicle in vehicles" ng-model="formData.vehicle" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>