<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3>Administrar mantenimientos </h3>

    <div class="center list-group"><strong><a class="pull-left l do" href="#!/maintenance/new">Crear nuevo mantenimiento</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="maintenance in maintenances">
        <li><div>Fecha de inicio: {{maintenance.startingDate}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/maintenance/edit/{{maintenance.id}}">Editar</a></li>
            <li><a ng-href="#!/maintenance/deleted/{{maintenance.id}}">Eliminar</a></li>
            <li><a ng-href="#!/maintenance/detail/{{maintenance.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="maintenance in maintenances">
        <li>Fecha de inicio: {{maintenance.startingDate}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/maintenance/edit/{{maintenance.id}}">Editar</a></li>
        <li><a ng-href="#!/maintenance/deleted/{{maintenance.id}}">Eliminar</a></li>
        <li><a ng-href="#!/maintenance/detail/{{maintenance.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
    </div></div></div>