
<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Detalles del Mantenimiento</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>

<div class=" text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="perc colt">
            <p>Fecha de inicio</p>
        </td>
        <td class="perc colt">
            <p>Fecha de termino</p>
        </td>
        <td class="perc colt">
            <p>Hora de inicio</p>
        </td>
        <td class="perc colt">
            <p>Hora de termino</p>
        </td>
        <td class="colt" colspan="2">
            <p>Fallas presentadas</p>
        </td>
    </tr>
    <tr class="col">
        <td class="perc colt">
            <p>{{maintenance.startingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{maintenance.finishingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{maintenance.startingTime}}</p>
        </td>
        <td class="perc colt">
            <p>{{maintenance.finishingTime}}</p>
        </td>
        <td class="colt" colspan="2" >
            <p>{{maintenance.failures}}</p>
        </td>

    </tr>


</table><br/><br/><br/>
    <table align="center" width="90%">
        <tr class="r">

        <td class="colt" colspan="2">
            <p>Servicios requeridos</p>
        </td>
        <td class="percl colt">
            <p>Kilometraje</p>
        </td>
        <td class="percl colt" >
            <p>Vehículo</p>
        </td>
        <td class="percl colt" >
            <p>Costo</p>
        </td>
        <td class="percl colt" >
            <p>Factura</p>
        </td>
        <td class="percl colt" >
            <p>Taller</p>
        </td>
            <td class="percl colt" >
            <p>Telefóno de taller</p>
        </td>
    </tr>
    <tr class="col">
        <td class="colt"colspan="2">
            <p>{{maintenance.requestedServices}}</p>
        </td>
        <td class="percl colt" >
            <p>{{maintenance.mileage}}</p>
        </td>
        <td class="percl colt">
            <p>{{vehicle}}</p>
        </td>
        <td class="percl colt" >
            <p>{{maintenance.cost | currency}}</p>
        </td>
        <td class="percl colt" >
            <p>{{maintenance.bill}}</p>
        </td>
        <td class="percl colt" >
            <p>{{maintenance.workshop}}</p>
        </td>
        <td class="percl colt" >
            <p>{{maintenance.workshopPhone}}</p>
        </td>
    </tr>

    </table>
</div>
