    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">
            </div>
      <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register">
                <form name="registerForm" ng-controller="NewMaintenanceController" ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startingDate">Fecha de inicio</label>
                            <input class="form-control" type="text" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" id="startingDate" ng-model="formData.startingDate" required>
                        </div>
                        <div class="form-group">
                            <label for="finishingDate">Fecha de termino</label>
                            <input type="text" class="form-control" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" id="finishingDate"  ng-model="formData.finishingDate">
                        </div>
                        <div class="form-group">
                            <label for="startingTime">Hora en que inicia el mantenimiento</label>
                            <input type="text" class="form-control" id="startingTime" ng-model="formData.startingTime" required>
                        </div>
                        <div class="form-group">
                            <label for="finishingTime">Hora en que termina el mantenimiento</label>
                            <input type="text" class="form-control" id="finishingTime" ng-model="formData.finishingTime">
                        </div>
                        <div class="form-group">
                            <label for="failures">Fallas</label>
                            <input type="text" class="form-control" id="failures" placeholder="Fallas que presentaba el vehículo" ng-model="formData.failures" required>
                        </div>
                        <div class="form-group">
                            <label for="services">Servicios requeridos</label>
                            <input type="text" class="form-control" id="services" placeholder="Qué servicios se le hicieron al vehículo"
                            ng-model="formData.requestedServices">
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mileage">Kilometraje</label>
                            <input type="text" class="form-control" id="mileage" placeholder="A qué kilometraje se realizo el mantenimiento" ng-model="formData.mileage" required>
                        </div>
                        <div class="form-group">
                            <label for="cost">Costo</label>
                            <input type="text" class="form-control" id="cost" placeholder="Costo del mantenimiento" ng-model="formData.cost">
                        </div>

                        <div class="form-group">
                            <label for="bill">Factura</label>
                            <input type="text" class="form-control" id="bill" placeholder="No. de Folio de la factura"
                            ng-model="formData.bill">
                        </div>
                        <div class="form-group">
                            <label for="workshop">Taller</label>
                            <input type="text" class="form-control" id="workshop" placeholder="Nombre del taller en que se realizó el mantenimiento"
                            ng-model="formData.workshop" required>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Telefóno</label>
                            <input type="text" class="form-control" id="phoneNumber" placeholder="No. de telefóno del taller"
                            ng-model="formData.workshopPhone" required>
                        </div>
                        <div class="form-group" ng-controller="VehicleController" >
                            <label>Vehículo</label>
                            <select class="form-control" ng-options="vehicle.id as vehicle.name for vehicle in vehicles" ng-model="formData.vehicle" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>