<div class="center-block w-xx w-auto-xs p-v-md text-center">
<div class="p-lg panel log-no-bg text-color">
    <div>
    <h3 >Administrar pólizas </h3>

    <div class="center list-group"><strong><a class="pull-left l do" href="#!/policy/new">Crear nueva póliza</a><a class="center le" href="#!/home">INICIO</a></strong>
    <strong class="pull-right pa" ng-show="auth">      Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong>
    </div><br/><br/>
    <ul class="list-group visible-lg visible-md visible-sm" ng-repeat="policy in policies">
        <li><div>Número de póliza: {{policy.policyNumber}}<strong class="pull-right"><ul class="nav navbar-nav">
            <li><a ng-href="#!/policy/edit/{{policy.id}}">Editar</a></li>
            <li><a ng-href="#!/policy/deleted/{{policy.id}}">Eliminar</a></li>
            <li><a ng-href="#!/policy/detail/{{policy.id}}">Ver detalles</a></li></ul>
        </strong></div></li><br/>
    </ul>
    <ul class="list-group visible-xs" ng-repeat="policy in policies">
        <li>Número de póliza: {{policy.policyNumber}}</li><li><ul class="nav navbar-nav">
        <li><a ng-href="#!/policy/edit/{{policy.id}}">Editar</a></li>
        <li><a ng-href="#!/policy/deleted/{{policy.id}}">Eliminar</a></li>
        <li><a ng-href="#!/policy/detail/{{policy.id}}">Ver detalles</a></li></ul></li><br/>
    </ul>
    </div></div></div>