<section id="container-reg" class="container">
    <div class="col-md-12 margin-form">
        <div class="col-md-12" >
            <div class ="center" ng-include="'portions/new.html'">
            </div>
            <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
             <div class="form-register" ng-controller="NewPolicyController">
                <form name="registerForm" ng-submit="send()">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startingDate">Fecha de inicio de vigencia</label>
                            <input class="form-control" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" placeholder="Fecha de inicio de la vigencia de la póliza" type="text" id="startingDate" ng-model="formData.startingDate" required>
                        </div>
                        <div class="form-group">
                            <label for="finishingDate">Fecha de vencimiento</label>
                            <input type="text" bs-datepicker  data-date-format="yyyy-MM-dd" data-date-type="string" class="form-control" id="finishingDate" placeholder="Fecha de en que vence la póliza" ng-model="formData.finishingDate" required>
                        </div>
                        <div class="form-group">
                            <label for="policy">Número de póliza</label>
                            <input type="text" class="form-control" id="policy" placeholder="Número de póliza" ng-model="formData.policyNumber" required>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="insurance">Aseguranza</label>
                            <input type="text" class="form-control" id="insurance" placeholder="Qué cubre la póliza" ng-model="formData.insurance" required>
                        </div>
                        <div class="form-group">
                            <label for="emergencyNumber">Número de emergencia</label>
                            <input type="text" class="form-control" id="emergencyNumber" placeholder="Número de emergencia"
                            ng-model="formData.emergencyNumber" required>
                        </div>
                        <div class="form-group" ng-controller="VehicleController" >
                            <label>Vehículo</label>
                            <select class="form-control" ng-options="vehicle.id as vehicle.name for vehicle in vehicles" ng-model="formData.vehicle" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group center">
                            <button type="submit" class="btn btn-default" >
                                <span>ACEPTAR</span>
                            </button>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</section>