
<div class="center-block col-xs-12 text-center" ><ul class="list-group">
        <li><h3>Detalles de la póliza</h3></li>
    </ul>
    <div class="pad center-block col-xs-8 text-center" ><ul class="list-group">
    <li ><strong class="center"><a class="le" href="#!/home">INICIO</a></strong>
        <strong class="pull-right pa" ng-show="auth">Bienvenido: {{user}} <a class="l" href="#!/logout">Cerrar sesión</a></strong></li>
    </ul>
    </div>
</div>
<div class="text-center">
<table align="center" width="90%">
    <tr class="r">
        <td class="perc colt">
            <p>Inicio de vigencia</p>
        </td>
        <td class="perc colt">
            <p>Fecha de vencimiento</p>
        </td>
        <td class="perc colt">
            <p>Número de póliza</p>
        </td>
        <td class="perc colt">
            <p>Número de emergencia</p>
        </td>
        <td class="perc colt">
            <p>Vehículo</p>
        </td>
        <td class="colt" colspan="2">
            <p>Aseguranza para</p>
        </td>
    </tr>
    <tr class="col">
        <td class="perc colt">
            <p>{{policy.startingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{policy.finishingDate}}</p>
        </td>
        <td class="perc colt">
            <p>{{policy.policyNumber}}</p>
        </td>
        <td class="perc colt">
            <p>{{policy.emergencyNumber}}</p>
        </td>
        <td class="perc colt">
            <p>{{vehicle}}</p>
        </td>
        <td class="colt" colspan="2">
            <p>{{policy.insurance}}</p>
        </td>
    </tr>


</table>
</div>