<div class="col-lg-12 visible-lg">
    <div class="col-lg-4">
        <img src="img/sep.jpg" height="256" width="356">
    </div>
    <div class="col-lg-6 itj">
        <h3>INSTITUTO TECNOLÓGICO DE JIQUILPAN</h3>
    </div>
    <div class="col-lg-2 setup">
        <img src="img/escudo.jpg" height="100" width="100">
    </div>
</div>
<div class="col-md-12 visible-md">
    <div class="col-md-5">
        <img src="img/sep.jpg" height="256" width="356">
    </div>
    <div class="col-md-7 itj">
        <h3>INSTITUTO TECNOLÓGICO DE JIQUILPAN</h3>
    </div>
</div>
<div class="col-sm-12 visible-sm">
    <div class="col-sm-7">
        <img src="img/sep.jpg" height="256" width="356">
    </div>
    <div class="col-sm-5 s">
        <img src="img/escudo.jpg" height="200" width="200">
    </div>
</div>
<div class="col-xs-12 visible-xs ss">
    <div class="col-xs-4 setup">
        <h1>ITJ</h1>
    </div>
    <div class="col-xs-8">
        <img src="img/escudo.jpg" height="200" width="200">
    </div>
</div>