<ul class="nav navbar-nav">
        <li><a ng-href="#!/trip/edit/{{trip.id}}">Editar</a></li>
        <li><a ng-href="#!/trip/deleted/{{trip.id}}">Eliminar</a></li>
        <li><a ng-href="#!/trip/detail/{{trip.id}}">Ver detalles</a></li>
</ul>